@page "/UploadTest"

<h3>アップロードテスト</h3>

<RadzenUpload @ref="upload" Auto="false" Multiple="true" Complete=@OnComplete Progress=@(args => OnProgress(args, "Multiple files upload")) class="w-100" ChooseText="選択" />

<RadzenButton Text="アップロード" Click="@Click" class="d-block mt-4" />

<RadzenButton Text="アップロードエラー" Click="@ClickError" class="d-block mt-4" />

<RadzenLabel Text="@resultText" />